
<header>
    <div class ="headerLogoTitre">
        <a href="{{ path('main_accueil') }}" class="aLogo">
            <img src="{{ asset('img/logo.png') }}" alt="logo Bucket List">
        </a>
            <h1>Bucket List </h1>
    </div>

    <nav>
        <ul class="navigation">
            <li class="liNav"><a href="{{ path('main_accueil') }}">Accueil</a></li>
            <li class="liNav"><a href="{{ path('main_apropos') }}">A Propos</a></li>
            <li class="liNav"><a href="{{ path('wish_liste') }}">Liste souhait</a></li>
            <li class="liNav"><a href="{{ path('wish_nouveau') }}">Nouveau souhait</a> </li>

        </ul>
    </nav>

</header>