
<header>
    <h1>Bucket List </h1>
    <a href="{{ path('main_accueil') }}">
        <img src="{{ asset('img/logo.png') }}" alt="logo Bucket List">
    </a>


    <nav>
        <ul>
            <li><a href="{{ path('main_accueil') }}">Accueil</a></li>
            <li><a href="{{ path('main_apropos') }}">A Propos</a></li>
            <li><a href="{{ path('wish_liste') }}">Liste souhait</a></li>

        </ul>
    </nav>

</header>