{% extends 'base.html.twig' %}

{% block titre %}{{ parent() }} | Detail {% endblock %}

{% block body %}

    <div class="wishDetail">
    <h2> {{ souhait.titre }}</h2>
    <br>
    <label for="">description :</label><p> {{ souhait.description }}</p>
    <label for="">auteur :</label><p> {{ souhait.auteur }}</p>
    <label for="">date de création :</label><p>le {{ souhait.dateCreation|date('d/m/y à H:i')}}</p>
     <div>{{ souhait.category.nom }}</div>

        <form action="{{ path('wish_delete', {'id': souhait.id}) }}">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ souhait.id) }}">
            <button>Supprimer</button>

        </form>


    </div>
{% endblock %}

